### Python Example

In [2]:
1+1

2

In [3]:
print("Hello, World!")

Hello, World!

In [4]:
## this is multiple line comment
'''
    Testing multimine comment 
'''

'\n    Testing multimine comment \n'

In [5]:
name = "Aswartha"

Name = "aswartha"

print(name)
print(Name)

Aswartha
aswartha

In [6]:
age = 32
if age > 30:
    print("You are older than 30")
    
    
print("You are older than 30")

You are older than 30
You are older than 30

In [ ]:
## Line continuation
## use \ to continue the line\
    
a = 1 + 2 + 3 + 4 + 5 + \
    6 + 7 + 8 + 9 + 10
print(a)

55

In [8]:
## multiple statements on a single line
a = 1; b = 2; c = 3; d= "asdfasdf"
print(a, b, c,d)

1 2 3 asdfasdf

In [ ]:
## understanding semantics


age = 32 
type(age)

int

In [10]:
## TYype inference
variable  = 10
print(type(variable))
variable = "Raj"

print(type(variable))

<class 'int'>
<class 'str'>

In [4]:
## Naming conventions
ff = 5.99
type(ff)

int(ff)

5

In [6]:
## python allows type of variable to be changed

var =10 
print(var,type(var))

var = "Hello"
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>

In [8]:
age = input("what is your age? ")
print(age, type(age))

43 <class 'str'>

In [9]:
is_bool = bool()
print(is_bool, type(is_bool))

False <class 'bool'>

In [10]:
result = "hello"+2
print(result, type(result))

TypeError: can only concatenate str (not "int") to str

In [15]:
## Floor division
floor_div = 10 // 3
print(floor_div, type(floor_div))

div = 10 / 3
print(div, type(div))

3 <class 'int'>
3.3333333333333335 <class 'float'>

In [19]:
year = int(input("Enter year: "))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2024 is a leap year