In [ ]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [1]:
def get_name(person):
  return person['name']

  people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 35}
  ]
  list(map(get_name,people))

In [ ]:
tpl = (1, 2, 3)
print(tpl)
print(tpl[0])

(1, 2, 3)
1

In [ ]:
# tuple Operations
numbers = (1, 2, 3)
mixed_tuple = (1, 2.5, "hello")

print(numbers + mixed_tuple)
# Concatenation

print(mixed_tuple*3)
# Repetition

(1, 2, 3, 1, 2.5, 'hello')
(1, 2.5, 'hello', 1, 2.5, 'hello', 1, 2.5, 'hello')

In [ ]:
#immutable nature of tuples
list1 = [1, 2, 3]
list1[0] = 10
print(list1)

list1[1] = "hello"
print(list1)

numbers = (1, 2, 3)
print(numbers)
numbers[0] = 10
# TypeError: 'tuple' object does not support item assignment

[10, 2, 3]
[10, 'hello', 3]
(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Tuple methods

numbers = (1, 2, 3, 4, 5)
print(numbers.count(2))
print(numbers.count(5))

print(numbers.index(2))

1
1
1

In [ ]:
# packing
packed_tuple = 1,"hello", 3.14
print(packed_tuple)

## Tuple unpacking
a, b, c = (1, 2, 3)
print(a)
print(b)
print(c)

1
2
3
(1, 'hello', 3.14)

In [ ]:
# unpacking with *
numbers = (1, 2, 3, 4, 5, 6, 7)
a, b, *rest,last = numbers
print(a)
print(rest)
print(last)

# Two * will error out
x,*y, *z = numbers

1
[3, 4, 5, 6]
7

In [ ]:
## Nested tuples
nested_tuple = (1, 2, (3, 4), (5, 6))
print(nested_tuple)
print(nested_tuple[2])
print(nested_tuple[2][0])
print(nested_tuple[2][0:2])

# Netsted list
nested_list = [1, 2, [3, 4], [5, 6]]
print(nested_list)
print(nested_list[2][0])
print(nested_list[2][0:2])

(1, 2, (3, 4), (5, 6))
(3, 4)
3
(3, 4)
[1, 2, [3, 4], [5, 6]]
3
[3, 4]